psycopg2-binary
sentence-transformers
PyPDF2
langchain
langchain-community
langchain-core
langchain-experimental
sqlalchemy
langchain-ollama
streamlit
langchain-groq
torchvision
dotenv
fastapi 
uvicorn 
pydantic 
fastapi-cors
pdfplumber==0.11.8
pytesseract 
pdf2image
